<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCfqQlwM01at98jjooSV7d8y9a9OAyRyo</string>
	<key>GCM_SENDER_ID</key>
	<string>798752059406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnnativebase</string>
	<key>PROJECT_ID</key>
	<string>fir-notif-c1fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notif-c1fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798752059406:ios:b882b4c6061ce88a008c5f</string>
</dict>
</plist>